<!DOCTYPE html>
<html>
<head>
    <title>Cancer Mortality Prediction Result</title>
</head>
<body>
    <h1>Cancer Mortality Prediction Result</h1>
    <p>The predicted cancer mortality and incidence rate is: <strong>{{ prediction }}</strong></p>
    <!-- Add more elements or information related to the prediction result as needed -->
   <b>Accuracy:</b> 1.0
 <br> <br>
   <b>Confusion Matrix:</b>  <br>
    [[23  0  0] <br>
     [ 0 55  0] <br>
     [ 0  0 40]]
  <h1>The possibiity of getting cancer is rare </h1>
</body>
</html>
